<div class="container-fluid">
    <div class="row">
        <header>
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2021_07/3451045/210218-product-of-the-year-2x1-cs.jpg" alt="" width="60px" height="60px">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/product">Products</a></li>
                <!-- <li><a routerLink=""></a></li> -->
            </ul>
        </header>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>