<h3 class="text-center">Add new Product Details</h3>
<form [formGroup]="productData" (ngSubmit)="onSubmitFun()" class="w-75 m-auto">
    <input type="text" class="form-control" formControlName="product_name" placeholder="Product Name"> <br>
    <input type="number" class="form-control" formControlName="price" placeholder="Price"> <br>
    <input type="text" class="form-control" formControlName="brand" placeholder="Brand"> <br>
    <input type="text" class="form-control" formControlName="description" placeholder="Description"> <br>
    <input type="number" class="form-control" formControlName="rating" placeholder="Rating"> <br>
    <input type="text" class="form-control" formControlName="Category" placeholder="Category"> <br>

    <div class="text-center">
        <button class="btn btn-outline-info">Submit</button>
    </div>
</form>
